extends layout 

block content 

    if user 
        h1 hello #{user.username}
        button 
            a(href="/log-out") Logout  
    else 
        if messages.error
            p #{messages.error}
        form(action="/log-in", method="post") 
            label(for="username") Username
            input(type="text" name = 'username' placeholder='username' ) 
            br
            label(for="password") Password
            input(type="password" name = 'password' placeholder='password' )
            br
            button(type="submit")  Login
        
        button
            a(href="/sign-up") Sign up