extends layout 

block content 
    form(action="/user-form", method="post")  
        input(type="text" placeholder='Username' name='username') 
        br
        input(type="text" placeholder='Password' name='password')
        br
        button(type="submit") Sign Up 